// Colors
$cyan: #25c5d8;
$dark-cyan: #0094a7;
$gray: #333C4A;
$light-gray: #4f5b62;
$dark-gray: #222831;
$white: #eceff1;


// Spacing and font size
$s-size: 1.6rem;
$m-size: 1.8rem;
$l-size: 2.4rem;
$xl-size: 3.2rem;
$xxl-size: 6.0rem;
$desktop-breakpoint: 45rem;